*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table, td, th{
    border: 1px solid black;
    background-color: #D7D7D7;
}

thead{
    text-align: center;
}

.inputTable{
    width: 50%;
    text-align: center;
}

.tableTitle {
    width: 70%;
}

.results-container{
    width: 50%;
    text-align: center;
    justify-content: center;
    font-size: large;
}

.results-table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.dataTable{
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: #4B9CD3;
    padding: 30px;
    text-align: center;
    font-size: 60px;
    color: white;
}

body{
    background-color: #B9B9B9;
}

#about-count{
    width: 60%;
    text-align: center;
    margin: auto;
    font-size: large;
}

#cell-count{
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    margin-top: 2px;
    margin-bottom: 10px;
}

.input-instructions{
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    margin-top: 2px;
    margin-bottom: 10px;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    color: white;
    background-color: #4B9CD3;
    font-size: large; 
    text-align: center;
    margin: auto;
    height: 30px;
 }

 .tableContainer{
    margin-bottom: 30px;
    font-size: large;
 }

 button, label {
    font-size: large;
 }
